---
http_interactions:
- request:
    method: post
    uri: https://mds.test.datacite.org/metadata
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <resource xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://datacite.org/schema/kernel-4" xsi:schemaLocation="http://datacite.org/schema/kernel-4 http://schema.datacite.org/meta/kernel-4.1/metadata.xsd">
          <identifier identifierType="DOI">10.5438/6BRG-2M37</identifier>
          <creators>
            <creator>
              <creatorName nameType="Personal">Smith, John</creatorName>
              <givenName>John</givenName>
              <familyName>Smith</familyName>
            </creator>
            <creator>
              <creatorName>つまらないものですが</creatorName>
              <nameIdentifier nameIdentifierScheme="ISNI" schemeURI="http://isni.org/isni/">0000000134596520</nameIdentifier>
            </creator>
          </creators>
          <titles>
            <title xml:lang="pl">Właściwości rzutowań podprzestrzeniowych</title>
            <title xml:lang="en" titleType="TranslatedTitle">Translation of Polish titles</title>
          </titles>
          <publisher>Springer</publisher>
          <publicationYear>2010</publicationYear>
          <subjects>
            <subject xml:lang="en" subjectScheme="DDC">830 German &amp; related literatures</subject>
            <subject xml:lang="en">Polish Literature</subject>
          </subjects>
          <contributors>
            <contributor contributorType="DataCollector">
              <contributorName nameType="Personal">Doe, John</contributorName>
              <givenName>John</givenName>
              <familyName>Doe</familyName>
              <nameIdentifier nameIdentifierScheme="ORCID" schemeURI="http://orcid.org/">0000-0001-5393-1421</nameIdentifier>
            </contributor>
          </contributors>
          <language>de</language>
          <resourceType resourceTypeGeneral="Text">Monograph</resourceType>
          <alternateIdentifiers>
            <alternateIdentifier alternateIdentifierType="ISBN">937-0-4523-12357-6</alternateIdentifier>
          </alternateIdentifiers>
          <relatedIdentifiers>
            <relatedIdentifier relatedIdentifierType="DOI" relationType="IsPartOf">10.5272/oldertestpub</relatedIdentifier>
          </relatedIdentifiers>
          <sizes>
            <size>256 pages</size>
          </sizes>
          <formats>
            <format>pdf</format>
          </formats>
          <version>2</version>
          <rightsList>
            <rights rightsURI="http://creativecommons.org/licenses/by-nd/2.0/">Creative Commons Attribution-NoDerivs 2.0 Generic</rights>
          </rightsList>
          <descriptions>
            <description xml:lang="la" descriptionType="Abstract">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
              takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
              et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </description>
          </descriptions>
        </resource>
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Status:
      - 201 Created
      Location:
      - https://mds.test.datacite.org/metadata/10.5438/6brg-2m37
      Etag:
      - W/"236e02689911f7c3829f5a696e7dd475"
      X-Credential-Username:
      - DATACITE.DATACITE
    body:
      encoding: ASCII-8BIT
      string: OK (10.5438/6BRG-2M37)
  recorded_at: Thu, 30 Aug 2018 23:17:02 GMT
recorded_with: VCR 3.0.3
