---
http_interactions:
- request:
    method: post
    uri: https://mds.test.datacite.org/metadata
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <resource xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://datacite.org/schema/kernel-4" xsi:schemaLocation="http://datacite.org/schema/kernel-4 http://schema.datacite.org/meta/kernel-4/metadata.xsd">
          <identifier identifierType="DOI">10.23725/0000-03VC</identifier>
          <creators>
            <creator>
              <creatorName>Miller, Elizabeth</creatorName>
              <givenName>Elizabeth</givenName>
              <familyName>Miller</familyName>
              <nameIdentifier schemeURI="http://orcid.org/" nameIdentifierScheme="ORCID">0000-0001-5000-0007</nameIdentifier>
            </creator>
          </creators>
          <titles>
            <title>Full DataCite XML Example</title>
          </titles>
          <publisher>DataCite</publisher>
          <publicationYear>2014</publicationYear>
          <resourceType resourceTypeGeneral="Software">XML</resourceType>
        </resource>
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - text/html;charset=UTF-8
      Location:
      - https://mds.test.datacite.org/metadata/10.23725/0000-03VC
    body:
      encoding: UTF-8
      string: OK (10.23725/0000-03VC)
  recorded_at: Sat, 10 Dec 2016 22:05:15 GMT
recorded_with: VCR 3.0.3
